exclude: '.git|.tox|migrations|manage.py|venv'
default_stages: [commit]

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.9

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8

  - repo: local
    hooks:
      - id: migrations
        name: check migrations
        entry: python3 manage.py makemigrations --check --dry-run
        language: system
        always_run: true
        pass_filenames: false
        fail_fast: true
        stages:
        - push

      - id: tests
        name: run tests
        entry: python3 manage.py test
        language: system
        always_run: true
        pass_filenames: false
        stages:
        - push
