{% extends "base/form.html" %}
{% load i18n %}

{% block content %}
{% include "announcements/includes/announcement_navbar.html" %}
{% if object_list %}
<div class="row row-cols-1 row-cols-md-3">
  {% for announcement in object_list %}
    <div class="col mb-4">
      <div class="card">
        <img src="{{ announcement.image.url }}" class="card-img-top" alt="announcement_image">
        <div class="card-body">
          <h5 class="card-title">{{ announcement.title }}</h5>
          <p class="card-text">{{ announcement.short_description }}</p>
          <a href="{{ announcement.get_absolute_url }}" class="btn btn-primary">{% translate "Detail" %}</a>
          {% if request.user == announcement.user %}
            <a href="{% url "announcement_update" announcement.pk %}" class="btn btn-outline-success">{% trans "Update" %}</a>
            <a href="{% url "announcement_delete" announcement.pk %}" class="btn btn-outline-danger">{% trans "Delete" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% include "base/includes/navigation.html" %}
{% else %}
<div class="d-flex justify-content-center">
  <p>{% trans "There are no announcements to show" %}</p>
</div>
{% endif %}
{% endblock %}
