{% extends "base/form.html" %}
{% load i18n %}

{%block content%}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Departamento</th>
      <th scope="col">Patente</th>
      <th scope="col">Estado</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for parking in object_list %}
          <tr>
              <td>{{ parking.number }}</td>
              <td>{% if parking.department %}{{ parking.department }}{% endif %}</td>
              <td>{{ parking.license_plate }}</td>
              <td>{% translate parking.status %}</td>
              <td>
                  <a class="btn btn-outline-success" href="{% url "parking_update" parking.pk %}">{% trans "Update" %}</a>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>
{%endblock%}
