{% load i18n %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">{{ title }}</a>
  <form class="form-inline">
    {% if add_button %}
    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url "announcement_create" %}">Añadir</a>
    {% endif %}
    {% if update_button %}
    <a class="btn btn-outline-primary my-2 my-sm-0 mr-2" href="{% url "announcement_update" announcement.pk %}">Actualizar</a>
    {% endif %}
    {% if delete_button %}
    <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url "announcement_delete" announcement.pk %}">Eliminar</a>
    {% endif %}
    {% if back_button %}
    <a class="btn btn-outline-secondary my-2 my-sm-0" href="javascript:history.back()">Volver</a>
    {% endif %}
  </form>
</nav>
<br>
